
mat-sidenav-container{
  background-color: lightgray;
  height:100 ;
}

mat-sidenav,mat-sidenav-content{
  padding:2vw;
}

mat-sidenav{

  width:100px;
}

mat-card{
  width: 20xw;
  height: 20hw;
}

img{
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  width: 30vw;
}
