.green-button{
    background-color: rgba(117, 189, 110, 0.96);
    color: rgb(255, 255, 255);
}

.green-button:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(147, 199, 134, 0.96);
}