<div class="login-container">
  <div class="title-container">
    <h1 class="title">ELECTROSTORE</h1>
    <div class="title-decorator"></div>
  </div>
  <div class="form-container">
    <form [formGroup]="loginForm" >
      <div class="forms-group-container">
        <div class="form-group">
          <input type="email"  class="form-control texti" formControlName="email" placeholder="Usuario">
        </div>
        <div class="form-group">
  
          <input type="password" class="form-control texti" formControlName="password" placeholder="Contraseña">
        </div>
      </div>
      <div class="button-login" (click)='onLogin()'>
          <p class="button-p">Iniciar Sesion</p> 
      </div>
  
    </form>
  </div>
</div>
      
      
      
     

