
<div class="row">
    <!--<div class="col-8">
      <div class="general-container">
        <div class="title-container">
          <h1>PRODUCTOS</h1>
        </div>
    
        <ag-grid-angular
          class="ag-theme-alpine"
          [rowData] = "productsList"
          [columnDefs] = "columnDefsForProducts"
          [gridOptions] = "gridOptionsForProducts"
          [frameworkComponents] = "frameworkComponentsForProducts"
        ></ag-grid-angular>
        
        
      </div>
    </div>-->

    <div div class="col-8">
        <div class="general-container">
            <div div class="title-container">
                <h1>CATEGORIAS</h1>
            </div>
            <ag-grid-angular
                class="ag-theme-alpine"
                [rowData] = "categoriesList"
                [columnDefs] = "columnDefsForCategories"
                [gridOptions] = "gridOptionsForCategories"
                [frameworkComponents] = "frameworkComponentsForCategories"
            ></ag-grid-angular>
        </div>        
    </div>
</div>
    
  