
<div class="body">
  <!-- <div class="grid-rows"> -->
      <div class="title">
          <p class="title-text">CONTACTO</p>
          <div class="title-decorator"></div>
      </div>
      <div class="information-container">
          <div class="profile-outline">{{initial}}
          </div>
          <div class="employee-information-outline">
              <div class="employee-information-container">
                  <div class="paragraph">
                      <p class="paragraph-text">{{contacto.Name}} </p>
                  </div>
                  <div class="paragraph">
                      <p class="paragraph-title">Direccion:</p>
                      <p class="paragraph-text">{{contacto.Address}}</p>
                  </div>
                  <div class="paragraph">
                      <p class="paragraph-title">Contacto:</p>
                      <p class="paragraph-text">{{contacto.Email}}</p>
                      <p class="paragraph-text">{{contacto.Cellphone}} - {{contacto.Phone}}</p>
                  </div>
              </div>
          </div>
      </div>
  <!-- </div> -->
</div>
