
    <div class="dashboard-grid">
        <div class="simple-card">
            <div class="title-container-red">
                <p class="title-text-white">CANTIDAD DE VENTAS</p>
            </div>
            <div class="info-container">
                <p class="info-text">{{this.amountOfSales}}</p>
            </div>
        </div>
        <div class="simple-card">
            <div class="title-container-green">
                <p class="title-text-white">GANANCIAS EN BS</p>
            </div>
            <div class="info-container">
                <p class="info-text">{{this.earnedMoney}}</p>
            </div>
        </div>
        <div class="simple-card">
            <div class="title-container-blue">
                <p class="title-text-white">PRODUCTO MAS POPULAR</p>
            </div>
            <div class="info-container">
                <p class="info-text"></p>
            </div>
        </div>
        <div class="bar-graph-card">
            <div class="title-container-pink">
                <p class="title-text-white">GRAFICO DE VENTAS CANTIDAD/TIEMPO</p>
            </div>
    
        </div>
        <div class="best-employees-card">
            <div class="title-container-yellow">
                <p class="title-text-white">NUMERO DE VENTAS POR EMPLEADO</p>
            </div>
        </div>
    </div>
    