<div class="login-container">
    <div class="title-container">
      <h1 class="title">PANEL DE CONTROL</h1>
      <div class="title-decorator"></div>
    </div>
    <div class="options-container">
        <div class="options-grid">
            <div class="option" [routerLink] = "['/view-employees']">
                <div>
                  <img src="/assets/images/empleados.png" alt="alt" class="icons-image">
                </div>
                <div>
                  <p class="icons-description" style>Empleados</p>
                </div>
            </div>
            <div class="option" [routerLink] = "['/view-products']">
              <div>
                <img src="/assets/images/productos.png" alt="alt" class="icons-image">
              </div>
              <div>
                <p class="icons-description">Productos</p>
              </div>
            </div>
            <div class="option" [routerLink] = "['/view-categories']">
              <div>

                <img src="/assets/images/categorias.png" alt="alt" class="icons-image">
              </div>
              <div>
                <p class="icons-description">Categorias</p>
              </div>
            </div>
            <div class="option" [routerLink] = "['/categories-menu']">
              <div>
                <img src="/assets/images/almacen.png" alt="alt" class="icons-image">
              </div>
              <div>
                <p class="icons-description">Almacen</p>
              </div>
            </div>
            <div class="option" [routerLink] = "['/contactos-view']">
              <div>
                <img src="/assets/images/empleados.png" alt="alt" class="icons-image">
              </div>
              <div>
                <p class="icons-description" style>Contactos</p>
              </div>
          </div>
          <div class="option" [routerLink] = "['/view-cliente']">
            <div>
              <img src="/assets/images/empleados.png" alt="alt" class="icons-image">
            </div>
            <div>
              <p class="icons-description" style>Clientes</p>
            </div>
        </div>
        </div>

    </div>
</div>


