<div class="row">
    <div class="col-6">
       <div class="product-image">

       </div>
    </div>
    <div class="col-6">
        <h1>PRODUCTO | MARCA | RESOLUCION | </h1>
        <p>Descripcion del producto</p>
        <div>
            <p>Cantidad de unidades: <span class="avaiable-amount">5</span></p>
        </div>
        <div class="button-container">
            <div class="add-car-button">Agregar al carrito</div>
        </div>
        <div class="button-container">
            <div class="technical-specifications">Especificaciones tecnicas</div>
        </div>
    </div>
</div>
