<div class="row">
  <div class="col-12">
    <div class="general-container">



     <div class="grid-row">
        <div class="title-container">
          <h1>LISTA DE CLIENTES</h1>
        </div>
        <div class="inputContainer">
          <!-- <label for="search-field" class="label-search">Buscar: </label> -->
          <input type="text" name="search-field" class="inputClass" (keyup)="onQuickFilterChanged()"
          [(ngModel)]="quickSearchValue" placeholder="Busqueda rapida.. " />
        </div>

        <div class="addButtonContainer">
          <button class="edit-button" (click) = "addCliente()">+ Agregar Cliente</button>
        </div>

     </div>


        <ag-grid-angular
          class="ag-theme-alpine"
          [rowData] = "clientesList"
          [columnDefs] = "columnDefs"
          [gridOptions] = "gridOptions"
          [frameworkComponents] = "frameworkComponents"
        ></ag-grid-angular>
    </div>
  </div>

</div>





