<div class="body">
  <!-- <div class="grid-rows"> -->
      <div class="title">
          <p class="title-text">Cliente</p>
          <div class="title-decorator"></div>
      </div>
      <div class="information-container">
          <div class="profile-outline">{{initial}}
          </div>
          <div class="employee-information-outline">
              <div class="employee-information-container">
                  <div class="paragraph">
                      <p class="paragraph-text">{{cliente.Name}} {{cliente.LastName}}</p>
                      <p class="paragraph-text">{{age}} años</p>
                  </div>
                  <div class="paragraph">
                      <p class="paragraph-title">Direccion:</p>
                      <p class="paragraph-text">{{cliente.Address}}</p>
                  </div>
                  <div class="paragraph">
                      <p class="paragraph-title">Contacto:</p>
                      <p class="paragraph-text">{{cliente.Email}}</p>
                      <p class="paragraph-text">{{cliente.Cellphone}} - {{cliente.Phone}}</p>
                  </div>
              </div>
          </div>
      </div>
  <!-- </div> -->
</div>
