
<input type="text" (keyup)="onQuickFilterChanged()" 
[(ngModel)]="quickSearchValue" placeholder="quick filter..." /> 

<ag-grid-angular
class="ag-theme-alpine"
[rowData] = "employeesList"
[columnDefs] = "columnDefs"
[gridOptions] = "gridOptions"
></ag-grid-angular>


<h1>LISTA DE EMPLEADOS</h1>

  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">CI</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of employees | async ;let index=index">
      <tr>
        <th scope="row">{{index+1}}</th>
        <td>{{item.Ci}}</td>
        <td>{{item.Name}}</td>
        <td>{{item.LastName}}</td>
        <td class="buttonCell">
          <button class="delete-button" (click)="deleteConfirmation(item.key)">Eliminar</button>
          <button class="edit-button" (click)="editEmployee(item)">Editar</button><!--Comentario-->
        </td>
      </tr>
    </tbody>
  </table>
  <button class="edit-button" routerLink="/add-employee">+ Agregar Empleado</button>

