h1{
    text-align: center;
    font-weight: 800;
    color: #3D3D3D;
    padding-top: 3%;
    padding-bottom: 3%;
}

.buttonCell{
    padding-left: 3%;
  
}

.delete-button{
    background-color: #CA8181;
    color: rgb(255, 255, 255);
}

.delete-button:hover{
    color: rgb(255, 255, 255);
    background-color: #ca3838;
}
.edit-button{
    background-color: #81ca8d;
    color: rgb(255, 255, 255);
    margin-left: 1%;
}

.edit-button:hover{
    color: rgb(255, 255, 255);
    background-color: #38ca69;
}