<div class="card">
    <div class="card-body">
        <h5 class="text-center"> Lista de Productos</h5>
        <table class="table table-sm table-hover">
            <tbody>
                <tr>
                    <td class="text-center">Producto</td>
                    <td class="text-center">Descripcion</td>
                    <td class="text-center">Modelo</td>
                    <td class="text-center">Categoria</td>
                    <td class="text-center">Precio</td>
                    <td class="text-center">Opciones</td>
                </tr>
                <tr *ngFor= "let producto of listaProductos">
                    <td class="text-center">{{producto.Name}}</td>
                    <td class="text-center">{{producto.Description}}</td>
                    <td class="text-center">{{producto.Model}}</td>
                    <td class="text-center">{{producto.Category}}</td>
                    <td class="text-center">{{producto.Price}}</td>
                    <td class="text-center">
                        <a class="btn btn-primary text-white btn-sm" (click)="onEdit(producto)">
                            <i class="far fa-edit"></i>
                        </a>
                        <a class="btn btn-danger text-white btn-sm" (click)="onDelete(producto.$key)" >
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary btn-sm" routerLink="/crear-producto">
            <i class="fas fa-plus-circle"></i> Add
        </button>
    </div>
</div>
