
    .grid-view{
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 85vh;
  }

  .grid-technical-information{
      display: grid;
      grid-template-rows: auto, auto, auto, auto, auto, auto, auto, auto;
  }

  .grid-technical-information-two-columns{
      display: grid;
      grid-template-columns: 50% 50%;
  }

  @mixin center-vertically-horizontally{
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      height: 85vh;
  }

  @mixin label-template{
      font-size: 1vw;
      font-weight: 600;
  }




  .product-image-container{
      @include center-vertically-horizontally;
      .product-image{
          width: 100%;
          height: 100%;
      }
  }


  .information-container{
      margin-top: 12vh;
      padding-left: 0.3vw;
      padding-right: 0.3vw;

      .product-title{
          font-size: 1.8vw;
          font-weight: 700;
      }

      .description-container{
          margin: 2vw 3vw;

          .description-label{
              @include label-template;
          }
          .description-data{
              padding: 3%;
              border: 1.5px solid rgb(219, 219, 219);
              border-radius: 0.3vw;
              font-size: 1vw;
              color: rgb(54, 54, 54);
          }
      }

      .amount-container{
          margin: 2vw 3vw;
          margin-top: 6vh;
          .label-amount{
              @include label-template;
          }

          .avaiable-amount{
              border: 2px solid rgb(219, 219, 219);
              padding: 0.3vw 2vw;
              margin-left: 2vw;
          }
      }

      .price-container{
          @extend .amount-container;
          margin-top: 6vh;
          .label-price{
              @include label-template;
          }
          .number-price{
              @extend .avaiable-amount;
              background-color: #ffffff;
              margin-left: 7.5vw;
              color: 737378;
          }

      }

      .button-container{
         
          text-align: center;
       

          .button-template{
              padding: 0.2vw 0.5vw;
              border-radius: 0.5vw;
              height: 100%;
              display: flex;
              vertical-align: center;
              text-align: center;
              @include label-template;
              font-size: 1.3vw;
              color: rgb(246, 251, 255);
              cursor: pointer;
          }

          .technical-specifications{
              @extend .button-template;
              background-color: #3BBACC;
          }
      }


      .add-button-container{
        
          .add-car-btn{
              padding:1vw 1.5vw;
              font-size: 1.5vw;
              font-weight: 600;
              border-radius: 0.5vw;
              background-color: #4ECFAE;
              border: 0px;
              color: rgb(248, 252, 255);
          }
      }
  }

  .grid-technical-information{
      padding: 3vh 3vw;
      .individual-row{
          padding-bottom: 0.8vh;
          margin-left: 3vw;
          margin-right: 3vw;
          .t-label{
              @include label-template;
          }

          .t-data{
              border: 2px solid rgb(219, 219, 219);
              padding: 0.3vw 2vw;
              text-align: center;

          }
      }
  }


  .button-section-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1.5vw;
      padding-top: 4vh;

  }