$primary-color : #3BBACC;
$title-color: #303030;
$gray-color: #C2C2C7;


.nav{
    height: 15vh;
    background-color: #ffffff;
    border: solid 0.2vh $gray-color;
    border-top: none;
    border-left: none;
    border-image: none;
}


.white-text{
    color: $title-color;
    font-weight: 400;
    font-size: 1.1vw;
    padding-left: 2vw;
}

.enterprise-name-container{

    .enterprise-name{
        color: $title-color;
        font-weight: 700;
        font-size: 1.7vw;
        border: solid 0.2vh $gray-color;
        padding-top: 5vh;
        padding-bottom: 5vh;
        border-top: none;
        border-left: none;
        border-bottom: none;
        padding-left: 3vw;
        padding-right: 4vw;
        text-decoration: none;
    }
}



.home-container{
    background-color: $primary-color;
    border-radius: 5px;
    cursor: pointer;
    padding: 10%;
    width: 3.5vw;
    height: 2.5vw;
    text-align: center;
    position: relative;
    margin-left: 40%;
}


.home-image{
    width: 60%;
    height: 60%;  
}


.cart-container{
    @extend .home-container;
    background-color: #4ECFAE;
    .cart-image{
        width: 70%;
        height: 70%;  
    }
    
}


.dashboard-container{
    @extend .home-container;
    background-color: #E5CA66;
    .dash-image{
        width: 60%;
        height: 60%;  
    }
    
}

