<nav class="navbar navbar-expand-lg nav">
  <div class="container-fluid">
      <div class="enterprise-name-container" *ngIf="user$ | async as user">
        <a class="enterprise-name" routerLink="/control-panel">ELECTROSTORE</a>
      </div>
    <div class="collapse navbar-collapse" id="navbarColor01" *ngIf="user$ | async as user">
      <ul class="navbar-nav me-auto" >
        <li class="white-text" *ngIf="user">
          <div routerLink="/control-panel" class="home-container">
            <div>

              <img src="/assets/images/home.png" alt="alt" class="home-image" >
            </div>
          </div>
        </li>
        <li class="white-text" *ngIf="user">
          <div routerLink="/cart" class="cart-container">
            <div>
              <img src="/assets/images/cart.png" alt="alt" class="cart-image" >
            </div>
          </div>
        </li>
        <li class="white-text" *ngIf="user">
          <div routerLink="/dashboard" class="dashboard-container">
            <div>
              <img src="/assets/images/dashboard.png" alt="alt" class="dash-image" >
            </div>
          </div>
        </li>
        <!--<li class="nav-item dropdown" *ngIf="user">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">MENU</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/productos">Productos</a>
            <a class="dropdown-item" routerLink="/register">Register</a>
            <a class="dropdown-item" routerLink="/add-employee">Añadir Empleado</a>
            <a class="dropdown-item" routerLink="/view-employees">Ver Empleados</a>
            <a class="dropdown-item" routerLink="/create-products">Crear Producto</a>
            <a class="dropdown-item" routerLink="/view-products">Ver Productos</a>
          </div>
        </li>-->
      </ul>
      <ul class="navbar-nav " >
        <li class="nav-item dropdown" *ngIf="user">
          <a class="nav-link white-text dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{user?.email}}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="onLogout()" >Ver Perfil</a>
            <a class="dropdown-item" (click)="onLogout()" >Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>