h1{
    text-align: center;
    font-weight: 1000;
    color: #d4d4d4;
    padding-top: 2%;
}

.general-container{
    background-color: #081c15;
    margin-left: 2%;
    margin-right: 1%;
    margin-top: 2%;
}

.buttonCell{
    padding-left: 3%;
  
}

.delete-button{
    background-color: #CA8181;
    color: rgb(255, 255, 255);
}

.delete-button:hover{
    color: rgb(255, 255, 255);
    background-color: #ca3838;
}

.edit-button{
    background-color: #7AC074;
    color: rgb(255, 255, 255);
    margin-left: 1%;
    border: none;
    padding: 5%;
    font-size: 1.2vw;
    font-weight: 500;
    border-radius: 0.5vw;
    margin-right: 7%;
}

.edit-button:hover{
    color: rgb(255, 255, 255);
    background-color: #6ac462;
}

.addButtonContainer{
    text-align: right;
}

.inputContainer{
justify-content: end;

}

.inputClass{
    padding-right: 50%;
    background-color: #081d15;
    color: #F3F3F3;
    margin-top: 3%;
    margin-left: 3%;
    border: #F3F3F3;

}

.title-container{
    background-color: #081d15;

}

.search-container{
    margin-left: 2%;
    margin-right: 2%;
    background-color: #081d15;
    padding-bottom: 2%;
}

.label-search{
    color: #F3F3F3;
}


.information-container{
    background-color: #ffffff;
    margin-top: 4%;
    margin-right: 4%;
    height: 40vw;
    border-style: solid;
    border-width: 1px;
    border-color: #c9c9c9;
}

.botton-padd{
    padding-bottom: 2%;
    padding-top: 2%;
}

.image-container{
    text-align: center;
}


.span-modifier{
    font-weight: 500;
    font-size: 1vw;
    color: #797979;

}

.p-size{
    font-weight: 600;
    font-size: 1vw;
}

.data-container{
    padding-top: 5%;
    margin-left: 16%;
    margin-right: 10%;
}