mat-sidenav-container{
  background-color: lightgray;
  height:100 ;
}

mat-sidenav,mat-sidenav-content{
  padding:16px;
}

mat-sidenav{

  width:100px;
}

mat-card{
  width: 300px;
  height: 400px;
}

img{
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  width: 100%;
}


.add-to-cart{
  padding: 0.5vw;
  background-color: #4ECFAE;
  color: #ffff;
  font-size:1vw;
  font-weight: 600;
  border-radius: 0.5vw;
}