<form #clienteForm="ngForm">
  <div class="row">
      <div class="col-md-6 personal-column-container">
          <h1>DATOS DE CLIENTE</h1>
              <div class="form-group">

                  <input type="text" placeholder="Nombres" class="input-form" name="Name" #Name="ngModel"
                      [(ngModel)]="clienteService.selectedCliente.Name">
              </div>
              <div class="form-group">

                  <input
                      placeholder="Apellidos"
                      type="text" class="input-form"
                      name="LastName"
                      #LastName="ngModel"
                      [(ngModel)]="clienteService.selectedCliente.LastName">
              </div>

              <div class="form-group">

                  <input placeholder="Carnet de identidad" type="text" class="input-form" name="Ci" #Ci="ngModel"
                  [(ngModel)]="clienteService.selectedCliente.Ci">
              </div>
              <div class="form-group">

                  <input placeholder="Fecha de nacimiento" type="date" class="input-form" name="BirthdayDate" #BirthdayDate="ngModel"
                  [(ngModel)]="clienteService.selectedCliente.BirthdayDate">
              </div>

      </div>

      <div class="col-md-6 contact-column-container">
          <h1>CONTACTO</h1>
          <div class="form-group">

              <input placeholder="Telefono fijo" type="text" class="input-form" name="Phone" #Phone="ngModel"
              [(ngModel)]="clienteService.selectedCliente.Phone">
              </div>
          <div class="form-group">

              <input type="email" placeholder="Correo electronico" class="input-form" name="Email" #Email="ngModel"
              [(ngModel)]="clienteService.selectedCliente.Email">
          </div>
          <div class="form-group">

              <input type="text" placeholder="Telefono movil" class="input-form" name="Cellphone" #Cellphone="ngModel"
              [(ngModel)]="clienteService.selectedCliente.Cellphone">
          </div>
          <div class="form-group">

              <input type="text" placeholder="Direccion" class="input-form" name="Address" #Address="ngModel"
              [(ngModel)]="clienteService.selectedCliente.Address">
          </div>

          <div class="row">
              <div class="col-6">
                  <div class="cancel-button" (click)="closeDialogFalse()">
                      <p class="btn-content">Cancelar</p>
                  </div>
              </div>
              <div class="col-6">
                  <div class="save-button" (click)="onSubmit(clienteForm)">
                      <p class="btn-content">Guardar</p>
                  </div>
              </div>

          </div>


      </div>

  </div>
</form>
