
<!-- <div [ngStyle]="{'background-color': color,
    'text-align': 'center',
    'cursor': 'pointer'}"  (click)="onClick($event)">

    <img src="/assets/images/{{icon}}" alt="alt" style=" width: 1.6vw;
    height: 1.6vw;">
 </div> -->

    <div class="text-align-center" [innerHTML]="iconSanitizer" (click)="onClick($event)">
        <!-- <svg  width="30" height="30" viewBox="0 0 300 181" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="svg-edit" fill-rule="evenodd" clip-rule="evenodd" d="M149.5 181C203.348 181 300 144.348 300 90.5C300 36.6522 203.348 0 149.5 0C95.6522 0 0 37.1522 0 91C0 144.848 95.6522 181 149.5 181ZM150 156C185.899 156 215 126.899 215 91C215 55.1015 185.899 26 150 26C114.101 26 85 55.1015 85 91C85 126.899 114.101 156 150 156Z" fill="#C2C2C7"/>
            <circle class="svg-edit" cx="150" cy="91" r="47" fill="#C2C2C7"/>
        </svg> -->
    </div>


