


.page-body{
    height: 100%;
    display: grid;
    grid-template-rows: 90% 10%;
    padding: 2vw;
}


.column-grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 25% 25% 25%;
    margin: 2vh 2vw;
}




h1{
    text-align: center;
    padding-top: 7%;
    padding-bottom: 6%;
    color: #C0C0C0;
    font-weight: 800;
}



.input-form{
    display: block;
    margin-bottom: 4vh;
    font-size: 1.2vw;
    font-weight: 500;
    border-radius: 4px;
    padding-left: 2vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 100%;
    border: solid 1px #C2C2C7;
    color: #737378;
    padding-right: 2vw;
    &::placeholder{
        color: #C2C2C7;
        font-weight: 500;
    }
    &:placeholder-shown{
        border-color: #C2C2C7;
    }

    
}

.textarea-description{
    display: block;
    margin-top: 1%;
    margin-bottom: 5%;
    width: 78%;
    border-radius: 5px;
    padding-left: 2%;
    background-color: #EBEBEB;
    border: none;
    height: 80px;
}



.btn-primary{
    background-color: #75BD6E;
    color: #FFFFFF;
    font-weight: 700;
    text-align: right;
    padding-left: 7%;
    padding-right: 7%;
}


.btn-add-product{
    background-color: #75BD6E;
    color: #FFFFFF;
    font-weight: 700;
    margin-right: 2%;
}

.btn-cancel{
    background-color: #c22222;
    color: #FFFFFF;
    font-weight: 700;
}

.buttonsContainer{
    text-align: right;
    margin-right: 10%;
}