h1{
    text-align: center;
    padding-top: 7%;
    padding-bottom: 6%;
    color: #C0C0C0;
    font-weight: 800;
}

.columnsContainer{
    padding-left: 5%;
    padding-right: 5%;
}

label{
    font-weight: 800;
    font-size: 1.5vw;
    color: #303030;
}

.input-form{
    display: block;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 100%;
    border-radius: 5px;
    padding-left: 2%;
    background-color: #EBEBEB;
    border: none;
    height: 40px;
}

.btn-add-employee{
    background-color: #75BD6E;
    color: #FFFFFF;
    font-weight: 700;
    text-align: right;
    padding-left: 10%;
    padding-right: 10%;
}


.btn-cancel{
    background-color: #c22222;
    color: #FFFFFF;
    font-weight: 700;
}

.buttonsContainer{
    text-align: right;
    margin-right: 10%;
}

